extends layout

mixin paragraph(title)
    p.my-2 &#9642; #{title}
    ul.list-group
        if block
            block

mixin manual(item, text)
    li.list-group-item.p-2
        .badge.bg-dark.p-2.m-1= item
        | &nbsp;#{text}

block Content
    .container-fluid
        .row.text-white
            .col-md-12.my-3
                h3.mb-3 단어검색
                +paragraph('첫글자 검색')
                    +manual('가', `'가'로 시작하는 단어 검색`)
                    +manual('나', `'나'로 시작하는 단어 검색`)
                +paragraph('끝글자 검색')
                    +manual('-가', `'가'로 끝나는 단어 검색`)
                    +manual('-나', `'나'로 끝나는 단어 검색`)
                +paragraph('와일드카드 검색')
                    +manual('가.나', `'가'로 시작해서 '나'로 끝나는 단어 검색`)
                    +manual('.가.', `중간글자가 '가'인 단어 검색`)
                +paragraph('초성 검색')
                    +manual('ㄱㄴㄷ', `초성이 'ㄱㄴㄷ'인 단어 검색`)
                    +manual('가ㅇ동', `'가'로 시작해서 '동'으로 끝나고 중간글자 초성이 'ㅇ'인 단어 검색`)
                    +manual('ㅇㅇ이', `첫글자와 중간글자 초성이 'ㅇ'이고 '이'로 끝나는 단어 검색`)
                +paragraph('주의사항')
                    +manual('숨겨진 단어', '숨겨진 단어는 관리자로 등록된 유저에게만 표시됩니다.')
        .row.text-white
            .col-md-12.my-3
                h3.mb-3 사용된 기술
                -
                    var sources = {
                        'nodejs': 'https://blog.kakaocdn.net/dn/cms72j/btqzok4RSIT/EN32GqecAy9lfPfQIkx5sk/img.png',
                        'typescript': 'https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/typescript/typescript.png',
                        'express': 'https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/express/express.png',
                        'passport': 'https://miro.medium.com/max/200/1*YI1tt4kGzvea-v4dAhZ90w.png',
                        'jquery': 'https://raw.githubusercontent.com/devicons/devicon/master/icons/jquery/jquery-original.svg',
                        'pug': 'https://raw.githubusercontent.com/vscode-icons/vscode-icons/master/icons/file_type_pug.svg',
                        'sass': 'https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/sass/sass.png',
                        'bootstrap': 'https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/bootstrap/bootstrap.png',
                        'mongodb': 'https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original.svg',
                        'gulp': 'https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/gulp/gulp.png',
                        'google-cloud-platform': 'https://cdn.iconscout.com/icon/free/png-256/google-cloud-platform-2-569356.png'
                    };

                each src, name in sources
                    .badge.bg-dark.p-2.m-2(data-toggle="tooltip" title=name)
                        img(height="40" src=src alt=name)

        .row.text-white
            .col-md-12.my-3
                h3.mb-3 문의
                    h5.mt-3
                        span 사이트에 대해서 궁금한 점이나 요청 사항은
                        span.badge.bg-dark.p-2.m-1= EMAIL
                        span 로 보내주세요.
