extends layout

block Content
    .container-fluid
        .row.mt-1: .col-md-12.my-3
            ul.list-group.list-group-flush
                - var wrap = value => `<span class="font-weight-bold text-danger">${value}</span>`;

                each editLog in editLogs
                    -
                        var {
                            date,
                            user: {
                                nickname,
                                profile_image
                            },
                            values,
                            action,
                            words
                        } = editLog;
                        var timestamp = date.format('YYYY년 MM월 DD일<br>HH시 mm분 ss초');
                    
                        if (action === 'add') {
                            if (!isAdmin) {
                                words = words.reduce((res, word, i) => {
                                    if (word.isHidden) {
                                        delete values[i];
                                    } else {
                                        res.push(word);
                                    }

                                    return res;
                                }, []);
                                values = values.filter(Boolean);
                            }

                            values = values.map((value, i) => words[i]?.isHidden ? isAdmin ? wrap(value) : '[비공개]' : value);
                        }

                        action = ({ add: '추가', delete: '삭제', release: '공개' })[action];

                    if values.length < 1
                        - continue

                    li.list-group-item.mb-3.rounded-left.rounded-right.text-white
                        img.ml-n1.mr-3.rounded(src=profile_image width="40" height="40" alt=nickname)
                        span #{nickname}님이
                        span.mx-1.p-2.badge.badge-pill.badge-dark(data-toggle="tooltip" data-html="true" title=values.join(', ')) #{values.length}개
                        span 의 단어를 #{action}하였습니다.
                        span.float-right.mr-n1.p-2.badge.badge-pill.badge-dark(data-toggle="tooltip" data-html="true" title=timestamp)= date.format('YY.MM.DD')
