extends layout

block Content
    main
        .container-fluid
            .row.mt-2
                .col-md-12.pt-1.px-2
                    #slide.carousel.carousel-fade.slide(data-ride="carousel")
                        ul.carousel-indicators
                            - for (var i = 0, len = slides.length; i < len; i++)
                                li(class=["active", ""][+!!i] data-target="#slide" data-slide-to=i)
                        .carousel-inner
                            each src, i in slides
                                .carousel-item(class=["active", ""][+!!i])
                                    img(src=src alt=src)
                        a.carousel-control-prev(href="#slide" data-slide="prev")
                            span.carousel-control-prev-icon
                        a.carousel-control-next(href="#slide" data-slide="next")
                            span.carousel-control-next-icon
            .row.no-gutters.mt-2.mx-n2
                -
                    var icons = [
                        'fas fa-book',
                        'fas fa-users',
                        'fas fa-search',
                        'fas fa-thumbs-up'
                    ];

                each text, i in ['전체 단어', '유저', '검색 횟수', '추천 단어']
                    .col-sm-3.col-6
                        .counter-box
                            i(class=icons[i])
                            span.counter= contents[i]
                            p= text

block JS
    script(src="../js/index.min.js")
