extends layout

block Content
    .container-fluid
        .row.mt-3
            .col-md-12.mt-1
                ul.list-group
                    -
                        var max = ranks[0].count;
                        var ranking = 1;

                        for (var i = 0, len = ranks.length; i < len; i++) {
                            if (i > 0 && ranks[i].count < ranks[i - 1].count) {
                                ranking = i + 1;
                            }

                            ranks[i].ranking = ranking;
                        }

                    each rank in ranks
                        -
                            var { ranking, count, count33, count32, user, profile } = rank;
                            var percentage = count / max * 100;

                        li.list-group-item.text-white
                            .row
                                .col-md-1.col-3
                                    img.rounded-circle(src=profile width="50" height="50")
                                .col-md-11.col-9.my-auto
                                    div.mb-2
                                        span.h5.mr-2.text-danger= ranking
                                        span.h5= user
                                        span.badge.badge-pill.badge-dark.p-2.float-right(data-toggle="tooltip" data-html="true" title=`3글자: ${count33}개<br>2글자: ${count32}개`) #{count} 개
                                    div.progress
                                        .progress-bar.progress-bar-custom(style=`width: ${percentage}%`)
