extends layout

block Content
    .container-fluid
        .row
            p.m-3 &#9642; 단어 추가
            .col-md-12
                ul.list-group.list-group-flush
                    -
                        var max = ranks[0].count;
                        var ranking = 1;

                        for (var i = 0, len = ranks.length; i < len; i++) {
                            if (i > 0 && ranks[i].count < ranks[i - 1].count) {
                                ranking++;
                            }

                            ranks[i].ranking = ranking;
                        }

                    each rank in ranks
                        - var { ranking, count, count33, count32, user, profile } = rank;

                        li.list-group-item.text-white
                            .row
                                .col-md-1.col-3
                                    div
                                        img.rounded-circle.mr-3(src=profile width="50" height="50")

                                .col-md-11.col-9.my-auto
                                    div.mb-2
                                        span.h5.mr-2.text-danger #{ranking}.
                                        span.h5 #{user}
                                        span.h5.float-right #{count} 개
                                    div.progress
                                        - var percent = count / max * 100;

                                        .progress-bar.progress-bar-custom(style=`width: ${percent}%`)
