extends layout

mixin pagination(page, text)
    li.page-item
        unless text == undefined
            if page > 0
                a.page-link(href=`/logs/${id}/${page}`): span= text
            else
                a.page-link.disabled: span= text
        else
            a.page-link(href=`/logs/${id}/${page}` class=(page === start ? 'page-active' : ''))= page

block Content
    .container-fluid
        .row: .col-md-12.my-3
            ul.list-group.list-group-flush
                each searchLog in searchLogs
                    -
                        var { keyword, date } = searchLog;
                        var timestamp = date.format('YY.MM.DD HH:mm:ss');

                    li.list-group-item.text-white
                        span.badge.badge-pill.badge-dark.p-2.mr-3= timestamp
                        span= keyword

        .row
            .col-md-12
                ul.pagination.flex-wrap.justify-content-center
                    +pagination(1, '«')
                    +pagination(prev, '‹')

                    if end > max
                        if start - rest > 1
                            +pagination(0, '...')

                        if start <= rest
                            - for (var page = 1; page <= max; page++)
                                +pagination(page)
                        else if start + rest > end
                            - for (var page = end - max + 1; page <= end; page++)
                                +pagination(page)
                        else
                            - for (var page = start - rest; page <= start + rest; page++)
                                +pagination(page)

                        if start + rest < end
                            +pagination(0, '...')
                    else
                        - for (var page = 1; page <= end; page++)
                            +pagination(page)

                    +pagination(next, '›')
                    +pagination(end, '»')
