extends layout

block Content
    .container-fluid
        .row.mt-2.px-1
            each user in users
                -
                    var {
                        _id,
                        id,
                        nickname,
                        email,
                        profile_image: image,
                        date,
                        isAdmin = false,
                        isBanned
                    } = user;

                .card-wrapper.col-lg-3.col-md-4.col-6.p-1
                    .card.bg-dark.text-white.h-100
                        if isAdmin
                            +icon('crown')(class="text-warning mt-2 ml-1 position-absolute")
                        img.card-img-top.mx-auto.mt-3.rounded-circle.circle-image(src=image alt=nickname)
                        .card-body.text-center
                            h5.card-title= nickname
                        .card-footer.d-flex.justify-content-center
                            a.btn.btn-sm.btn-info.mr-1(href=`/userinfo/${id}`) 정보
                            a.btn.btn-sm.btn-success.mr-1(href=`/logs/${id}`) 로그
                            if !isBanned && !isAdmin
                                button.btn.btn-sm.btn-danger 차단
