extends layout

block Content
    .container-fluid
        .row.mt-2
            each user in users
                -
                    var { _id, id, nickname, profile_image: image, date, isAdmin = false, isBanned } = user;
                    var searchCount = searchCounts.find(x => x._id.toString() === _id.toString())?.count ?? 0;

                .card-wrapper.col-lg-3.col-md-4.col-6.p-1
                    .card.bg-dark.text-white.h-100
                        if isAdmin
                            +icon('crown')(class="text-warning mt-2 ml-1 position-absolute")
                        img.card-img-top.mx-auto.mt-3.rounded-circle.circle-image(src=image alt=nickname)
                        .card-body.text-center
                            h5.card-title= nickname
                            span.card-text= '검색 횟수: ' + searchCount
                            span.card-text= '가입일: ' + date.format(9, 'YY.MM.DD')
                            .mt-2
                                a.btn.btn-sm.btn-success.mr-1(href=`/logs/${id}`) 로그
                                if !isBanned && !isAdmin
                                    button.btn.btn-sm.btn-danger 차단

