-
    const TITLE = 'Catchword';
    const AUTHOR = 'COKE (Legacy)';
    const EMAIL = 'legacy5877@gmail.com';
    const SESSION = locals.session;
    const MENU = {
        routes: {
            search: '/search',
            edit: '#',
            history: '/history',
            help: '/help',
            manage: '/manage',
            download: '/download',
            github: 'https://github.com/xCrypt0r',
            login: '/login',
            logout: '/logout'
        },
        labels: {
            search: '단어검색',
            edit: '단어편집',
            history: '작업기록',
            help: '도움말',
            manage: '유저관리',
            download: 'DB 다운로드',
            github: '개발자 깃허브',
            login: '로그인',
            logout: '로그아웃'
        }
    };

    var backPath = '../'.repeat(path.split('/').length - 2);
    var isAuthenticated = !!SESSION.passport;
    var user = SESSION.passport?.user;

    Date.prototype.format = function(format = 'YYYY-MM-DD HH:mm:ss', diff = 9) {
        return moment(this).add(diff, 'h').format(format);
    }
        
mixin menu(href, label, icon, iclass = 'fas')
    li.nav-item
        a.nav-link.p-3(href=href)&attributes(attributes)
            +icon(icon, iclass)(class="fa-fw mx-2 text-secondary")
            span.text= label

mixin icon(icon, iclass = 'fas', size = 'lg')
    i(class=`${iclass} fa-${icon} fa-${size}`)&attributes(attributes)
