-
    const TITLE = 'Catchword'
    const AUTHOR = 'COKE (Legacy)'
    const SESSION = locals.session

    var isAuthenticated = !!SESSION.passport;
    var user = SESSION.user;

    Date.prototype.format = function(diff = 9, format = 'YYYY-MM-DD HH:mm:ss') {
        return moment(this).add(diff, 'h').format(format);
    }
        
mixin menu(href, label, icon, iclass = 'fas')
    li.nav-item
        a.nav-link.p-3(href=href)&attributes(attributes)
            +icon(icon, iclass)(class="mx-2 text-secondary")
            span.text= label

mixin icon(icon, iclass = 'fas', size = 'lg')
    i(class=`${iclass} fa-${icon} fa-${size}`)&attributes(attributes)
