extends layout

block Content
    .container-fluid
        .row.mt-4
            -
                var {
                    nickname,
                    profile_image,
                    email,
                    date
                } = target;

                var words32 = words.find(x => x._id === 2)?.list.sort() ?? [],
                    words33 = words.find(x => x._id === 3)?.list.sort() ?? [];

            .profile-nav.col-12.m-0
                .panel
                    .user-heading.round
                        a(href="#")
                            img(src=profile_image alt=nickname)
                        h1.mt-2= nickname

                    ul.list-group
                        li.list-group-item
                            i.far.fa-calendar-alt
                            span.ml-2 #{date.format('YYYY년 MM월 DD일')} 가입
                        li.list-group-item
                            i.far.fa-envelope
                            span.ml-2 #{email || '이메일 정보 제공에 동의하지 않음'}
                        li.list-group-item
                            i.fas.fa-search
                            span.ml-2 #{searchCount}회 검색
                        li.list-group-item
                            i.fas.fa-trophy
                            span.ml-2 단어 #{words32.length + words33.length}개 등록
        if words33.length > 0 || words32.length > 0
            .row.mt-4
                if words33.length > 0
                    .col-sm-6.col-12.pr-2
                        table.table.table-rounded.table-dark.text-center
                            thead
                                tr
                                    th 단어(3-3)
                                    th 날짜
                            tbody
                                each word in words33
                                    tr
                                        td(class=word.isHidden ? "text-danger" : "")= word.value
                                        td= word.date.format('YY.MM.DD')
                if words32.length > 0
                    .col-sm-6.col-12.pl-3
                        table.table.table-rounded.table-dark.text-center
                            thead
                                tr
                                    th 단어(3-2)
                                    th 날짜
                            tbody
                                each word in words32
                                    tr
                                        td(class=word.isHidden ? "text-danger" : "")= word.value
                                        td= word.date.format('YY.MM.DD')
